@import url("../global.css");
@import url("../Header/header.css");

header{
    height: 10%;
}

.grid-container{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 25% 75%;
}

.seccion-productos{
    width: 100%;
    height: 100%;
    border: none;
}