@import url(./global.css);

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

header{
    height: fit-content;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.form-main {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
    overflow: auto;
}

.sidebar-image {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-4);
}

.sidebar-image h1 {
    max-width: 100%;
    max-height: 20%;
    font-size: var(--font-size-xxlarge);
    font-weight: 700;
    text-align: center;
    margin: 0%;
}

.img-producto {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 80%;
    padding: 0%;
    margin: 0%;
}

.upload-icon{
    width: 50px;
    height: 50px;
}


.upload-div{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.upload-label{
    align-items: start;
    text-align: left;
    font-size: 30px;
}

.upload-button {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 32px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
    text-align: start;
    
}

.form-producto {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    overflow: hidden;
}

.form-div-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 5% repeat(6, 15%) 5%;
    justify-items: center;
}

.form-div {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#form-nombre{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#form-plataforma{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#form-descripcion{
    grid-column: 1 / 2;
    grid-row: 3 / 6;
}

#form-desarrollador{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#form-precio{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#form-existencias{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#form-lanzamiento{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

#form-genero{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

#form-file{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

#button-div{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.form-div textarea{
    width: 100%;
    height: 80%;
    font-family: var(--font-sans-nunito);
    padding: 4%;
    border-radius: var(--radius-sm);
}

.form-div label {
    max-width: 100%;
    margin-bottom: var(--space-2);
    font-weight: 600;
    font-size: var(--font-size-large);
}


.form-producto input,
.form-producto select {
    max-width: 100%;
    padding: var(--space-3);
    border-radius: var(--radius-sm);
    border: none;
    background-color: var(--color-white);
    color: var(--gray-800);
    font-size: var(--font-size-medium);
    font-family: var(--font-sans-nunito);
}

.button-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

.btn-crear {
    width: 80%;
    height: fit-content;
    border: none;
    background-color: #11d911; 
    color: var(--gray-900);
    padding: var(--space-3) var(--space-6);
    font-size: var(--font-size-large);
    font-weight: 700;
    border-radius: var(--radius-sm);
    cursor: pointer;
}

.btn-crear:hover {
    opacity: 0.9;
}

.btn-eliminar {
    border: none;
    background-color: #000000; 
    color: white;
    padding: var(--space-3) var(--space-6);
    font-size: var(--font-size-large);
    font-weight: 700;
    border-radius: var(--radius-sm);
    cursor: pointer;
}

.btn-eliminar:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Responsive */
@media (min-width: 768px) and (max-width: 992px) {
    
    body{
        height: auto;
    }

    .form-main { 
        gap: var(--space-8); 
        padding: 0 var(--space-6); 
        flex-direction: column; 
        align-items: center;
    }

    .sidebar-image {
        width: 90%;
    }

    .img-producto > img{
        max-width: 60%;
    }

    .form-producto {
        width: 90%;
    }

    .form-div, .button-div{
        width: 80%;
        padding: 2%;
    }

    .form-div-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-div label {
        font-size: 1.8vw;
    }

    .form-div textarea{
        font-size: 1.8vw;
    }

    .form-producto input,
    .form-producto select {
        font-size: 1.8vw;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    body{
        height: auto;
    }

    .form-main { 
        gap: var(--space-8); 
        padding: 0 var(--space-6); 
        flex-direction: column; 
        align-items: center;
    }

    .sidebar-image {
        width: 90%;
    }

    .img-producto > img{
        max-width: 60%;
    }

    .form-producto {
        width: 90%;
    }

    .form-div, .button-div{
        width: 80%;
        padding: 2%;
    }

    .form-div-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-div label {
        font-size: 2vw;
    }

    .form-div textarea{
        font-size: 2vw;
    }

    .form-producto input,
    .form-producto select {
        font-size: 2vw;
    }

    .btn-crear {
        font-size: 2vw;
    }

    .btn-eliminar {
        font-size: 2vw;
    }
}

@media (max-width: 576px) {
    body{
        height: auto;
    }

    .form-main { 
        gap: var(--space-8); 
        padding: 0 var(--space-6); 
        flex-direction: column; 
        align-items: center;
    }

    .sidebar-image {
        width: 100%;
    }

    .img-producto{
        width: 100%;
    }

    .img-producto > img{
        max-width: 80%;
    }

    .form-producto {
        width: 100%;
    }

    .form-div, .button-div{
        width: 80%;
        padding: 2%;
    }

    .form-div-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-div label {
        font-size: 1em;
    }

    .form-div textarea{
        font-size: 1em;
        height: 15em
    }

    .form-producto input,
    .form-producto select {
        font-size: 1em;
    }

    .btn-crear {
        font-size: 1em;
    }

    .btn-eliminar {
        font-size: 1em;
    }
}