@import url("../global.css");

body {
  margin: 0;
  font-family: var(--font-sans);
  color: var(--text-primary);
  background: var(--gradient-app);
}

.flex-container{
    display: flex;
    height: 100vh;
}

.videojuego-lista{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 17.6%);
    justify-content: space-evenly;
    align-content: space-evenly;
    row-gap: 2vw;
    margin: 0%;
    padding: 2vw 0%;
    overflow: scroll;
}

.videojuego-item{
    background-color: var(--gray-100);
    border-radius: 3%;
}

.videojuego-item:hover{
    border: 1px solid black;
    cursor: pointer;
    
}

.videojuego{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    padding: 2%;
}

.videojuego-info{
    max-width: 100%;
    max-height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videojuego-info > .videojuego-nombre{
    max-width: 100%;
    font-size: 0.85em;
    font-weight: 450;
    margin: 0px;
}

.videojuego-info > .videojuego-precio{
    max-width: 100%;
    font-size: 0.95em;
    margin: 0px;
}

.videojuego-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 3% 3% 0% 3%;
    
}

.videojuego-imagen > img{
    max-width: 100%;
    max-height: 100%;
    padding: 0%;
    margin: 0%;
    border-radius: 3%;
}

@media (max-width: 576px){
    
    .videojuego-lista{
        display: grid;
        grid-template-columns: 80%;
        row-gap: 5vw;
    }

    .videojuego-info > .videojuego-nombre{
        font-size: 1em;
    }

    .videojuego-info > .videojuego-precio{
        font-size: 1.5em;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    
    .videojuego-lista{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        row-gap: 2.5vw;
    }

    .videojuego-info > .videojuego-nombre{
        font-size: 0.8em;
    }

    .videojuego-info > .videojuego-precio{
        font-size: 0.9em;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .videojuego-lista{
        display: grid;
        grid-template-columns: repeat(4, 22%);
        row-gap: 2.4vw;
        padding: 2.4vw 0%;
    }
    .videojuego-info > .videojuego-nombre{
        font-size: 0.8em;
    }
    
    .videojuego-info > .videojuego-precio{
        font-size: 0.9em;
    }
}